@import url("src/css/reset.css");
body {
  background-color: rgb(44, 44, 44);
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 8rem;
  background-color: #1f1f1f;
}
#logo {
  font-size: 3.2rem;
}
#register,
#login {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.8rem;
  background-color: #1f1f1f;
  gap: 3.2rem;
  padding: 8rem 4rem;
}
.form-container h1 {
  font-size: 3.2rem;
  font-weight: 600;
}
#register-form,
#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}
.form-item-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
label {
  font-size: 1.6rem;
}
.form-item-container input,
#search input {
  background-color: white;
  padding: 0.4rem;
  font-size: 1.4rem;
  width: 40rem;
  border-radius: 0.8rem;
}
.form-btn {
  font-size: 1.8rem;
  padding: 0.8rem 4rem;
  font-weight: 600;
  width: auto;
  border-radius: 0.8rem;
  color: white;
}
.login-btn {
  background-color: green;
}
.login-btn:hover {
  cursor: pointer;
  background-color: #006800;
}
.register-btn {
  background-color: blue;
}
.register-btn:hover {
  cursor: pointer;
  background-color: #0000c8;
}
form p {
  font-size: 1.2rem;
}
#register-txt {
  text-decoration: underline;
}
#requirements {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
#requirements h2 {
  font-size: 1.6rem;
  font-weight: 600;
}
#required-items {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1.4rem;
}
.register-req {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.register-req i {
  font-size: 0.4rem;
}
.nav-item {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}
.nav-item span {
  font-size: 1.4rem;
}
.nav-item:hover {
  color: #b4b4b4;
}
#feed {
  display: flex;
  flex-direction: column;
  width: 80rem;
  padding: 1.8rem 1.8rem;
  border-left: 1px solid white;
  border-right: 1px solid white;
  margin: 0 auto;
}
#feed h1 {
  font-size: 3.2rem;
  border-bottom: 1px solid white;
  padding-bottom: 0.8rem;
}
.create-post {
  display: flex;
  flex-direction: column;
  margin-top: 1.4rem;
  gap: 1.2rem;
  background-color: #1f1f1f;
  padding: 0.8rem;
  border-radius: 0.8rem;
}
.create-post h2 {
  font-size: 1.8rem;
  border-bottom: 1px solid white;
  padding-bottom: 0.4rem;
}
.create-post form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
}
.create-post form input {
  background-color: white;
  padding: 0.4rem;
  font-size: 1.4rem;
  border-radius: 0.8rem;
  width: 100%;
}
.create-post form textarea {
  background-color: white;
  resize: none;
  font-size: 1.4rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  width: 100%;
}
#post-btn {
  background-color: #3a3a3b;
  align-self: flex-end;
  border: 2px solid white;
  font-size: 1.6rem;
}
#post-btn:hover {
  cursor: pointer;
  background-color: green;
}
.posts-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-top: 2.4rem;
}
.post {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 0.8rem 1.6rem;
  background-color: #1f1f1f;
  border-radius: 0.8rem;
}
.post-meta {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  align-items: flex-start;
}
.post-meta i {
  font-size: 1.6rem;
}
.post-meta i:hover {
  cursor: pointer;
  color: rgb(102, 102, 102);
}
.post-info {
  display: flex;
  gap: 1.2rem;
}
.post-info .circle {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: white;
}
.post-data {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.post-time {
  font-size: 1.2rem;
}
.post-title {
  font-size: 1.6rem;
  font-weight: 600;
}
.post-message {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.post-message span {
  font-size: 1.4rem;
}
.post-reactions {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.6rem;
}
.post-reaction i {
  font-size: 1.8rem;
}
.post-reaction:hover {
  cursor: pointer;
  color: white;
}
#post {
  display: flex;
  flex-direction: column;
  width: 80rem;
  padding: 1.8rem 1.8rem;
  align-items: center;
  margin: 0 auto;
}
.back-btn {
  align-self: flex-start;
  flex: 1;
  padding: 0.8rem 1.6rem;
  margin-top: 2.4rem;
  font-size: 1.6rem;
  width: auto;
  background-color: #1f1f1f;
  border-radius: 0.8rem;
}
.back-btn:hover {
  background-color: #464646;
}
.post-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-top: 2.4rem;
}
